.header {
    background-color: var(--main-white-color);
    border-bottom: 1px solid var(--border-color);
}

.logo {
    color: var(--main-blue-color);
    font-family: raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}

.logo-black {
    color: var(--header-color);
}

.site-nav {
    display: block;
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 93px;

    .item:not(:last-child) {
        margin-right: 50px;
    }

    .link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}


.contacts {
    display: block;
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    align-items: center;

    .link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--text-color);
    }

    .item:first-child {
        margin-right: 30px;
    }
}

.main-nav,
.main-part,
.contacts .smartphone,
.contacts .envelope {
    display: flex;
    align-items: center;
}

.site-nav .link,
.contacts .link {
    color: var(--header-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: background-color 250ms var(--timing-function);
}


.icon-envelope {
    margin-right: 10px;
    fill: currentColor;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--main-blue-color);
    }
}

.icon-smartphone {
    margin-right: 10px;
    fill: currentColor;

    transition: background-color 250ms var(--timing-function);
}

.contacts .link:hover,
.contacts .link:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.footer-contacts .link:hover,
.footer-contacts .link:focus,
.address .address-link:hover,
.address .address-link:focus {
    color: var(--main-blue-color);
}

.link.current {
    color: var(--main-blue-color);

    position: relative;


    &::after {
        position: absolute;
        left: 0;
        bottom: 0;

        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: var(--main-blue-color);
    }

    &:hover::after {
        width: 100%;
    }
}