.backdrop {
    position: fixed;
    top: 0;
    right: 0;

    opacity: 1;
    transition: opacity 250ms var(--timing-function);

    width: 100%;
    height: 100%;
    background-color: var(--background-modal-color);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-function);

    width: 528px;
    height: 581px;
    background-color: var(--main-white-color);

    padding: 40px;

}

.button-modal {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    display: flex;

    padding: 0;
    margin-top: 8px;
    margin-right: 8px;

    background-color: var(--main-white-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--border-modal-color);
    cursor: pointer;
}

.icon-modal-close {
    margin: auto auto;

    transition: fill 250ms var(--timing-function);
}

.icon-modal-close:hover {
    fill: var(--main-blue-color);
}

.button-modal:focus .icon-modal-close {
    fill: var(--main-blue-color);
}

.header-modal {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15x;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);

    margin-bottom: 12px;
}

.btn-modal-send {
    color: var(--main-white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--main-blue-color);
    display: block;
    padding: 10px 32px;
    min-width: 200px;
    min-height: 50px;
    box-shadow: 0px 4px 4px var(--button-hero-shadow);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}


.form-field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

}

.input-modal {
    padding: 0 0 0 42px;
    margin: 0;
    width: 100%;
    height: 40px;
    border: 1px solid var(--border-modal-input-color);
    box-sizing: border-box;
    border-radius: 4px;

    transition: border-color 250ms var(--timing-function);
}

.input-modal:focus {
    outline: none;
    border-color: var(--main-blue-color);
}

.input-modal:focus+.icon-modal {
    fill: var(--main-blue-color);
}

.comments-modal {
    resize: none;
    width: 448px;
    height: 120px;
    border: 1px solid var(--border-modal-input-color);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;

    transition: border-color 250ms var(--timing-function);
}

.comments-modal::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--placeholder-color);
}

.comments-modal:focus {
    outline: none;
    border-color: var(--main-blue-color);
}

.label-modal {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--text-color);
}

.checkbox-wrapper {
    margin-bottom: 30px;
}

.checkbox-lable {
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: var(--text-color);

}

.checkbox-lable::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    border: 1px solid var(--header-color);
    cursor: pointer;
    margin-right: 8px;
    margin-left: 12px;
}

.checkbox-input:checked+.checkbox-lable::before {
    border: none;
    background-image: url(../images/check.svg);
}

.checkbox-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: var(--main-blue-color);
    text-decoration: underline;

}

.icon-modal {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 12px;

    transition: fill 250ms var(--timing-function);
}


.input-icon-wrapper {
    position: relative;
}