.portfolio-list {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 0;
    margin-top: 0;
    padding: 0;

    margin-left: -30px;
    margin-top: -30px;

    .item {
        margin-left: 30px;
        margin-top: 30px;
        flex-basis: calc(100% / 3 - 30px);
    }

    .item:hover {
        box-shadow: var(--portfolio-cards-shadow);
    }
}



.link-porfolio .header-portfolio {
    color: var(--header-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-bottom: 4px;
}

.link-porfolio .p-portfolio {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;
}

.card-content {
    padding: 20px 24px;
    border-bottom: 1px solid var(--border-color-card);
    border-left: 1px solid var(--border-color-card);
    border-right: 1px solid var(--border-color-card);
}

.content-overlay-portfolio {
    color: var(--main-white-color);
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.container-overlay-portfolio {
    position: relative;
    overflow: hidden;
}

.product-overlay {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);

    width: 100%;
    height: 100%;
    background-color: var(--product-card-overlay);
    
    .tehnocrak:hover & {
        transform: translateY(0%);
    }

    .link-porfolio:focus & {
        transform: translateY(0%);
    }
}

.container-content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
}